body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  padding: 3rem;
  box-sizing: border-box;
  position: relative;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.title img{
  width: 500px;
  animation: floatUpDown 2s ease-in-out infinite;
}

.exit {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.3rem;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.exit img {
  width: 80px; 
}

.exit:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.graphWrapper {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes floatUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}